<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de usuarios</title>
</head>
<body>
<ul>
    <% for(let idx = 0; idx < users.length; idx++){ %>
        <li> <%= users[idx].username %></li>
    <%}%>

        <hr>
        <form action="/users/signin" method="post">
            <label for="username">Username</label>
            <br>
            <input type="text" id="username" name="username">
            <br>
            <label for="password">Password</label>
            <br>
            <input type="password" id="password" name="password">
            <br><br>
            <button type="submit">REGISTRAR</button>
        </form>
</ul>
</body>
</html>
